<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82c5f3">  <td>18/09/14 14:49:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PixelluTests.searchAndLogin()[pri:10, instance:PixelluTests@2aae9190]">searchAndLogin</td> 
  <td>TestNG-test=Command line test-1@195409534</td>   <td></td> </tr>
<tr bgcolor="82c5f3">  <td>18/09/14 14:49:28</td>   <td>11479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PixelluTests.LogInWithIncorrectCredentials()[pri:20, instance:PixelluTests@2aae9190]">LogInWithIncorrectCredentials</td> 
  <td>TestNG-test=Command line test-2@1072896164</td>   <td></td> </tr>
<tr bgcolor="82c5f3">  <td>18/09/14 14:49:34</td>   <td>17603</td> <td>&nbsp;</td><td title="&lt;&lt;PixelluTests.after_test()[pri:0, instance:PixelluTests@2aae9190]">&lt;&lt;after_test</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1749186397</td>   <td></td> </tr>
</table>
